node_modules
.zip
.idea
/bin/
/build/
/buildInfo/
/dist/
/bin/generate-base-tsconfig
/out.bin/
/out.build/
/out.dist/
/out.test/
/publish/
/.dual-build.old/
/toolx.publish/
/testRoot/
/transient/
/test-scaffolding/
